@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Ubuntu:wght@300&display=swap');

:root {
    --vertical-space: 2rem;
    --horizontal-space: 3rem;

    --light-color:242, 201, 196;
    --body-color:#705D5B;
    --heading-color:#703F39;
    --contrast-color:#F0877B;

}


body {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Ubuntu', sans-serif;
    background-image: repeating-linear-gradient(135deg, rgb(243,224,220) 0px, rgb(243,224,220) 2px,transparent 2px, transparent 4px)
    ,linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}

main {
    background-color: rgba(var(--light-color), 0.5);
}

h1, h2, h3 {
    line-height: 1.2;
    font-family: 'Handlee', cursive;
    color: var(--heading-color);
}

a {
    color: var(--heading-color);
    text-decoration-color: var(--contrast-color);
}

a:hover {
    color: var(--contrast-color);
}

body#about img { height : 15em; }

p {
    max-width: 50em;
}

body {
    display: grid;
    grid-template-areas: "head head"
                         "nav nav"
                         "main  main"
                         "foot foot";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto 1fr auto;
}

@media screen and (min-width: 25em) {
    body {
        grid-template-areas: "head head"
                             "nav  main"
                             "foot foot";
        grid-template-rows: auto 1fr auto;
    }
}

body > * {
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
}

body > header {
    grid-area: head;
}

body > nav {
    grid-area: nav;
}

body > nav ul {
    list-style-type: none;
    padding: 0;
}

body > main {
    grid-area: main;
}

body > footer {
    grid-area: foot;
}

header, footer {
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space);
}

header h1, footer h1 {
    margin: 0;
}

body#portfolio ul#portfolioItems {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}

@media screen and (min-width: 25em) {
    body#portfolio ul#portfolioItems li {
        flex-basis: 48%;
        padding-right: 2%;
    }
}

body#portfolio ul#portfolioItems li img {
    max-width: 100%;
}